<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
    <head runat="server">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <asp:ContentPlaceHolder id="head" runat="server">
        </asp:ContentPlaceHolder>
    </head>
    <body>
        <form id="form1" runat="server" class="container">
        <div>t
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
            </asp:ContentPlaceHolder>
        </div>
        </form>
    </body>
</html>
